.App {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}
header,
nav,
main,
footer {
  padding: 20px;
  border: 1px solid black;
}
.header {
  background-color: #495e57;
  padding: 16px 32px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.header img {
  filter: brightness(0) invert(1);
  height: 32px;
}

.header nav {
  background-color: transparent;
  padding: 0;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 12px 20px;
  background-color: #f4ce14;
  border-radius: 6px;
}
header nav li {
  color: #333333;
  font-weight: 600;
  cursor: pointer;
}
header nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.2s ease;
  outline: none;
}
header nav a:hover {
  color: #495e57;
  text-decoration: none;
  border: 2px solid #495e57;
  border-radius: 4px;
  transform: translateY(-1px);
}
header nav a:focus {
  outline: none;
  border-bottom: 2px solid #495e57;
}

main {
  background-color: #edefee;
}
footer {
  background-color: #333333;
  color: white;
}
.hero {
  background-color: #495e57;
  color: white;
  padding: 3rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2rem;
  border-radius: 6;
}
.hero-text h1 {
  color: #f4ce14;
  font-size: 3rem;
  margin-bottom: 0.25rem;
  letter-spacing: 1px;
}
.hero-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 0;
}
.hero-text p {
  max-width: 400px;
  line-height: 1.5;
}
.hero-image img {
  width: 250px;
  border-radius: 12px;
  margin-top: 1.5rem;
}

.hero button {
  background-color: #f4ce14;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}
.hero button:hover {
  background-color: #e1c200;
  opacity: 0.9;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
}
.hero-text {
  max: width 100%;
}
.hero h1 {
  font-size: 2.2rem;
}
.hero-image img {
  width: 100%;
  max-width: 300px;
  margin-top: 1.5rem;
}
.hero button {
  width: 100%;
  max-width: 250px;
}
